*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    background-color: #0e0b16;
    color: #4717f6;
}

nav a{
    text-decoration: none;
    color: #4717f6;
}

nav a:hover{
    color: #e7dfdd;
    transition: all 1s ease-out;
}

.container{
    display: flex;
    justify-content: center;
}

.producto{
    display: flex;
    min-height: 200px;
    max-height: 200px;
    border: 2px #4717f6 solid;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100vh;
    height: 50%;
    object-fit: scale-down;
}

.producto h3{
    align-self: center;
}

.producto p{
    align-self: center;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    
}

.producto .boton-agregar{
    align-self: center;
}
.boton-agregar{
    border: #4717f6 2px solid;
    border-radius: 6px;
    background-color: #0e0b16;
    color: #e7dfdd;
    margin-right: 10px;
    width: 20%;
    height: 20%;
}

.contBtn{
    display: flex;
    margin: 10px;
}

.contBtn a{
    text-decoration: none;
    color: #e7dfdd;
    
}

.boton-agregar:hover{
    background-color: #4717f6;
}

.offcanvas-body{
    background-color: #0e0b16;
    
}
.imagen{
    margin-top: 10px;
    margin-bottom: 40px;
    object-fit: cover;
    width: 30%;
    height: 80%;
    align-self: center;
}

.productoCarrito{
    width: 100%;
    display: flex;
    align-items: center;
}


.modal-carrito{
    border: #e7dfdd 1px solid;
    display: flex;
    
   
}

.prodTitle{
    width: 25%;
    font-size: 12px;
    text-align: center;
    margin: 5px;
    color: #e7dfdd;
    border: #4717f6 1px solid;
    border-radius: 4px;
}

.prodPrecio{
    margin: 5px;
}

.prodCantidad{
    margin: 5px;
}

#cantidad{
    color: #e7dfdd;
}

#precio{
    color: #e7dfdd;
}

#precioTotal{
    color: #e7dfdd;
}

#signoPeso{
    color: #e7dfdd;
}

.precioProducto{
    margin-right: 10px;
}

.btn-close{
    background-color: #4717f6;
    opacity: 1;
}

.btn-close:hover{
    background-color: #e7dfdd;
    opacity: 1;
}

.boton-carrito{
    background-color: #4717f6;
    color: #e7dfdd;
    margin-top: 10px;
    margin-right: 10px;
}

.boton-elminar{
    border-radius: 20px;
    background-color: #4717f6;
    margin: 5px;
}

.contenedor-productos{
    border: #4717f6 4px solid;
}
.contTecla{
     width: 250px;
    border: 2px #4717f6 solid;
    border-radius: 4px;
    text-align: center;
    margin: 20px;
    height: 100%;

}

.offcanvas-header{
    background-color: #0e0b16;
}

.modal-carrito{
    justify-content: center;
    align-items: center;

}
.imgSelecTeclado{
    object-fit: cover;
    width: 80%;
    height: 100%;
    opacity: 0.5;
}

.imgSelecTeclado:hover{
    opacity: 1;

}
.imgSelecAuri{
    object-fit: cover;
    width: 22%;
    height: 100%;
    opacity: 0.5;
}

.imgSelecAuri:hover{
    opacity: 1;
}

.contTecla a{
    text-decoration: none;
    
}


/* forms */

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 2px solid #4717f6;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #4717f6;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgb(47, 64, 255);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}


.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}


/* carrousel */

.carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #0e0b16 10px solid;
    width: 80%;
    margin: 0 auto;
    
}

.d-block{
    object-fit: cover;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.carousel-control-prev-icon{
    color: #0e0b16;
    background-color: #0e0b16;
    border-radius: 6px;
    border: #4717f6 4px solid;

}


.carousel-control-next-icon{
    background-color: #0e0b16;
    border-radius: 6px;
    border: #4717f6 4px solid;
}

